*.iml
.idea/libraries/build.xml
.idea/modules.xml
.idea/gradle.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/markdown**
.idea/misc.xml
*.pyc
*.pydevproject
*.lib
*.so
*.pdb
*.exp
*.log
*.tlog
*.obj
*.dll
*.ipch
*.suo
*.idb
.project
*.tmp
*.pkl
test/*/logs/*
dist/files_simu/dist/files_simu/speechdata/GM/grammar/audioconfig.json
tmp/*
**/results/**
scripts/cop_file_generator/resources/*.cop
.gradle/**
**/build/**
**/classes/**
**/src/scripts/euau-importer/ENG/**
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
*.ini.local
storage/usb/**
rp_launch_id.txt
test/bug-reports/**
/toyota-artt.ipr
/toyota-artt.iws
**/test_requirement_generator/*.tsv**
**/test_requirement_generator/*.xlsx

